<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
</head>
<body id="Bodylogin">
<header>
    <h2>Login</h2>
</header>

<div class="container">
    <form id="loginForm">
        <label for="cedula">Cedula:</label><br>
        <input type="text" id="cedula" name="cedula"><br>

        <label for="contrasena">Contraseña:</label><br>
        <input type="password" id="contrasena" name="contrasena"><br><br>

        <button type="submit" id="loginButton">Ingresar</button>
    </form>

    <p id="errorMessage" style="color: red;"></p>

    <a href="/proveedores" id="alogin">Registrarte</a>
</div>
<br>
<script src="/codee.js"></script>
<Footer> <p><i>2024 - Derechos reservados - Hacienda</i> </p></Footer>

</body>
</html>