<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proveedores</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div>
        <header>
            <h1>Registro de Proveedor</h1>
        </header>

        <button id="btnCrear">Crear</button>

        <div class="button-container3">
            <a href="/login"><button>Salir</button></a>
        </div>

    </div>
    <div id="modalProveedor">
        <div>
            <h5 class="modal-title" id="exampleModalLabel">Proveedor</h5>
            <button type="button"></button>
        </div>
        <form>
            <div>
                <label for="cedula">Cedula:</label>
                <input id="cedula" autofocus>
            </div>
            <div>
                <label for="nombre">Nombre:</label>
                <input id="nombre">
            </div>
            <div>
                <label for="correo">Correo:</label>
                <input id="correo" type="email">
            </div>
            <div>
                <label for="contrasena">Contrasena:</label>
                <input id="contrasena" type="password">
            </div>
            <div>
                <button type="button">Close</button>
                <button type="submit">Guardar</button>
            </div>
        </form>
    </div>
    <script src="/codee.js"></script>
    <Footer> <p><i>2024 - Derechos reservados - Hacienda</i> </p></Footer>
</body>
</html>