<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Cliente</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1>Registrar Cliente</h1>
</header>
<div class="container">
    <form id="registrarClienteForm" action="/registrarCliente" method="post">
        <label for="identificacion">Identificación:</label>
        <input type="text" id="identificacion" name="identificacion" required>
        <br>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <button type="submit">Registrar Cliente</button>
    </form>
</div>
<footer>
    <p><i>2024 - Derechos reservados - Hacienda</i></p>
</footer>
<script src="/codee.js"></script>
</body>
</html>